<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container main-layout">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div>
        <div class="container">
           <div class="row">
              <div class="col-md-10 offset-md-1">
                <br>
                 <div class="row">
                    <div class="col-md-6 offset-md-3">
                       <div class="projects_box ">
                          <figure><img src="images/omah.png" alt="#" /></figure>
                       </div>
                    </div>
                    <div class="col-md-12">
                       <div class="projects_box ">
                          <p style="text-align:justify;">Air Quality Monitoring Sysytem adalah sebuah sistem yang dirancang khusus untuk membantu pengguna dalam memantau kondisi udara di dalam sebuah ruangan.
                             Pemantauan yang dilakukan berdasarkan pengukuran yang dilakukan oleh sensor dan data yang di peroleh akan ditampilkan berupa suhu (Temperature) dalam satuan derajat celcius ('C) dan kelembaban (Humidity) dalam satuan kelembaban relatif (RH) serta kualitas udara (AirQuality) dalam satuan miligram zat terlarut (ppm).
                             Alat ini juga membantu membuka dan menutup jendela secara otomatis sehingga dapat menjaga kualitas udara di dalam ruangan tersebut.
                          </p>
                          
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>